In [17]:
import pandas as pd

In [18]:
ori = pd.read_csv("data/data_training_90.txt", sep="\t", header=None)
aug = pd.read_csv("data/data_training_90_1_a_NO_RS.txt", sep="\t", header=None)

In [19]:
aug.head()

   0                                                  1
0  1   lucu kak abbey cantik kayak anak adam orang haru
1  1             lucu kak kayak cantik abbey orang haru
2  1             lucu kak abbey cantik kayak orang haru
3  0  heran deh ngatain baperan wajar dese baper udi...
4  0  heran deh ngatain baperan wajar dese baper udi...

In [23]:
len(aug)

1080

In [20]:
aug_only = aug.iloc[::2].reset_index(drop=True)

In [21]:
len(aug_only)

360

In [22]:
aug_only.to_csv("data/data_training_90_1_a_NO_RS(augonly).txt", sep="\t", header=False, index=False)